
.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #f6f3ef;
    gap: 20px;
}

.search-bar-title {
    flex-shrink: 0;
}

.search-bar-title h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: #3b3a39;
}

.search-bar-input-group {
    display: flex;
    align-items: center;
    
    background-color: #dcdcdc;
    border: 1px solid #0c0c0c;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease-in-out;
    flex-shrink: 0;
}



.search-bar-input {
    flex: 1;
    border: none;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    background-color: #dcdcdc;
    color: #6d6d6d;
}

.search-bar-input::placeholder {
    color: #6d6d6d;
}

.search-bar-button {
    background-color: #f36805;
    color: white;
    border: 1px solid #0c0c0c;
    padding: 16px 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 100%;
    border-radius: 100px;
}

.search-bar-button:hover {
    background-color: #d65a04;
}


