.restaurant-list-wrapper {
    width: 100%;
    margin: 0 auto;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f6f3ef
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    animation: fadeIn 0.3s ease-in;
    margin-left: 24px;
    margin-right: 24px;
}